---
---

h2,
h1,
.title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 0.9;
}

.title {
  fill: white;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
}

.home {
  background-color: black;
}

.container {
  height: 100%;
  display: flex;
}

.container > div {
  flex: 50%;
}

.content {
  background-color: white;
  overflow-y: auto;
}

.text {
  padding: 3rem;
}

.text > *:first-child {
  margin-top: 0;
}

p {
  text-align: justify;
}

svg {
  margin: 1rem;
  width: calc(100% - 2rem);
  z-index: -2;
  position: relative;
}

#canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
}

#frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-row {
  padding: 3rem;
  background-color: #fafafa;
  border-bottom: 1px solid #eaeaea;
  gap: 2rem;
  align-items: flex-start;

  .links-list {
    font-weight: 700;

    a {
      color: black !important;
      text-decoration: none;
    }
  }

  h1 {
    font-size: 3.5rem;
    margin: 0;
  }
}

.han-polaroid {
  filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
  max-height: 22rem;
  margin: 4rem;
}



@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .content {
    overflow-y: visible;
  }

  .header-row {
    padding: 1.2rem;
  }

  .text {
    padding: 2rem;
  }

  .han-polaroid {
    max-height: 15rem;
  }
}

.page {
  display: flex;
  flex-direction: column;

  .header {
    background-color: black;
    color: white;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 2.5rem;

    a {
      color: white;
      text-decoration: dotted underline;
    }
  }

  .page-content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;

  }


}