---
layout: default
---

<body class="home">
  <div class="container">
    <div id="frame">
      <svg viewBox="-1 0 80 55">
        <text class="title" x="0" y="12">Hannah</text>
        <text class="title" x="0" y="26">Young</text>
      </svg>
      <canvas id="canvas"></canvas>
    </div>

    <div class="content">
      <div class="header-row">
        <img src="assets/img/han1.png" class="han-polaroid" />
        <div class="links-list">
          <a href="/posts"> Posts </a>
          <a href="/assets/HYoungResume.pdf"> Resume </a>
          <a href="mailto: heyhannahyoung99@gmail.com"> Email </a>
          <a href="https://www.linkedin.com/in/hannahyounggg/"> LinkedIn </a>
        </div>
      </div>

      <div class="text">{{ content }}</div>
    </div>
  </div>

  <script src="./three.min.js"></script>
  <script src="./main.js"></script>
</body>
