---
layout: default
---

<body class="home">
  <div class="container">
    <div id="frame">
      <img src="assets/img/han1.png" class="han-polaroid" />

      <canvas id="canvas"></canvas>
    </div>

    <div class="content">
      <div class="header-row">
        <h1>Hannah Young</h1>

        <div class="links-list">
          <a href="/posts"> Posts </a> |
          <a href="/assets/HYoungResume.pdf"> Resume </a> |
          <a href="mailto: heyhannahyoung99@gmail.com"> Email </a> |
          <a href="https://www.linkedin.com/in/hannahyounggg/"> LinkedIn </a>
        </div>
      </div>

      <div class="text">{{ content }}</div>
    </div>
  </div>

  <script src="./three.min.js"></script>
  <script src="./main.js"></script>
</body>
